include MANIFEST
include MANIFEST.in
include LICENSE.txt
include Makefile
include WebAlbumGenerator.py
recursive-include asset *
recursive-include images *
recursive-include PictureAutosize *
recursive-include webalbumgenerator *
recursive-include WebAlbumGenerator.app *
